@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');


/* ========== START Dark Mode Colors ========== */
:root {
    --primary: rgb(24, 26, 27);
    --secondary: #2B2F31;
    --text: #d8d4cf;
    --blue: #004daa;
    --caption: #e8e6e3;
}

/* ========== END Dark Mode Colors ========== */
/* ========== START CSS Reset ========== */
html {
    box-sizing: border-box;
    font-size: 14px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* ========== END CSS Reset ========== */

body {
    color: var(--text);
    background-color: var(--primary);
    border: 1px solid white;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

header {
    padding: 16px;

    display: flex;
    justify-content: flex-end;


}

header h1 {
    padding-bottom: 12px;
    margin: auto;
    border-bottom: 1px solid white;

}

header button {
    position: fixed;
    right: 24px;
    top: 12px;
    border: 1px solid #004daa;
    border-radius: 12px;
    width: 64px;
    height: 64x;
    font-size: 32px;
    color: white;
    background-color: #004daa;
}

header button:hover {
    transform: scale(1.05);
}

header button:active {
    transform: scale(0.95);
    background-color: #0057c2;
}

main {
    padding: 16px;
    display: flex;
    gap: 24px;
    /* justify-content: flex-start;
    width: fit-content;
    margin: auto; */
    padding-left: 5%;
    flex-wrap: wrap;
}

.book {
    position: relative;

    width: 220px;
    height: 320px;
    background: #310c0d;
    border-radius: 20px 16px 12px 32px;
    background-image: linear-gradient(to right, #3a1215 48px, #29080b 50px, transparent 50px);
    box-shadow: 2px 6px 40px 0px var(--secondary);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 16px;
}

.book button {

    position: absolute;

    top: -10px;
    left: 198px;

    width: 32px;
    height: 32px;
    border-radius: 40%;
    border: none;

    color: white;
    background-color: #0057c2;

}


.book button:hover {
    transform: scale(1.05);
    background-color: #0073ff;

}

.book button:active {
    transform: scale(0.95);
}

.title {
    margin-bottom: auto;
    margin-top: 24px;
    font-size: 24px;
}

.author {
    font-style: italic;
    margin-bottom: 80%;
    font-size: 14px;
}

.numOfPages {
    margin-bottom: 24px;
    font-size: 14px;
}


.container {

    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0%;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    transition: opacity 0.7s;


}


#form-container {
    display: none;
    backdrop-filter: brightness(30%)

    /* backdrop-filter: brightness(60%);
    backdrop-filter: blur(2px); */

    /* backdrop-filter: url(filters.svg#filter) blur(4px) saturate(150%); */
    /* backdrop-filter: saturate(50%) blur(20px)
    backdrop-filter: hue-rotate(90deg) saturate(30%)
    backdrop-filter: saturate(30%) */

}

#img-container {
    display: none;
}


img, form {
    width: 500px;
    height: 520px;
}

img {
    /* z-index: 1; */
    display: block;
 
    border-radius: 24px;
}

form {
    /* border: 1px solid white; */

    border-radius: 24px;
    display: flex;

    justify-content: center;
    align-items: center;

    flex-direction: column;

    gap: 16px;


    /* backdrop-filter: brightness(60%); */
    /* backdrop-filter: blur(2px); */
    /* backdrop-filter: drop-shadow(4px 4px 10px blue); */

    background-color: #2b2f3109;

    position: relative;

	animation: fadeIn 0.5s ease-in both;
}


#form-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: flex-end;
}

#form-header button {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border-top-right-radius: 20px;
    background-color: rgba(0, 0, 0, 0.568);
    border-right: rgba(255, 255, 255, 0);
    border-top: white;

    border: none;


}

form button p {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-stretch: 100%;
    font-weight: 700;


    transition: transform .7s ease-in-out;


}

form button p:hover {
    transform: rotate(270deg) scale(0.95);
}

form button:active {
    transform: scale(1.05);
    background-color: rgba(0, 0, 0, 0);
}




form h2 {
    position: absolute;
    top: 12px;
    font-size: 32px;
}

form > p {
    opacity: 0.95;
    font-size: 24px;
    font-weight: 200;
    text-align: start;
    width: 80%;
    margin-top: 32px;
}


form input {
    width: 80%;
    height: 8%;
    border: 1px solid white;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    padding: 12px;
    font-family: sans-serif;
    font-weight: 550;
    font-size: 18px;

}

form input[type="submit"] {
    color: #111;    
    background-color: #cae962;
    border: 1px solid #cae962;
    margin-top: 16px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(0, -20%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}



@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}