/* ========== START Dark Mode Colors ========== */
:root {
    --primary: #131516;
    --secondary: #2B2F31;
    --text: #d8d4cf;
    --blue: #004daa;
    --caption: #e8e6e3;
}
/* ========== END Dark Mode Colors ========== */
/* ========== START CSS Reset ========== */
html {
    box-sizing: border-box;
    font-size: 16px;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
ol, ul {
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
}
/* ========== END CSS Reset ========== */



body {
    background: var(--primary);
    color: var(--text);

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;

    display: flex;
    gap: 16px;
    flex-direction: column;

}


header {
    /* flex: 1; */
    /* border: 1px solid var(--secondary); */
    display: flex;
    height: 100px;
}


header h1 {
    font-size: 2rem;
}


#header-center {
    display: flex;
    align-items: center;
    justify-content: center;


}

#header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


header div {
    flex: 1;
}


#add-button {
    margin-right: 64px;
    background: rgb(36, 221, 36);
    border-radius: 16px;
    border: 3px solid var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    font-size: 32px;
    padding: 0;
}

#add-button:hover {
    transform: scale(1.1);
}

/* ========== END Header Styles ========== */


main {
    flex: 15;
    /* border: 1px solid var(--secondary); */
    /* border-top: 0; */

    display: flex;
    justify-content: center;
    /* border: 1px solid yellow; */

    padding: 16px;


}

#books {
    width: 1250px;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    /* border: 1px solid green; */

    /* flex: 1; */
}


.book {
    border: 1px solid var(--secondary);   
    width: 300px;
    height: 300px;

    display: flex;
    flex-direction: column;

}




.book-header {
    display: flex;
    border-bottom: 1px solid var(--secondary);
    flex: 5;
}

.book .book-title {
    flex: 5;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 30px;

    text-shadow: 1px 1px var(--blue);

    margin-right: -30px;
}

.book .remove-div {
    display: flex;


    align-self: flex-start;
    justify-content: flex-end;
    /* align-items: center; */

    /* border: 1px solid var(--blue); */
}


.remove-button {
    background: rgb(216, 64, 64);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    font-size: 16px;

    border: none;
    margin-right: -10px;
    margin-top: -10px; 
}

.remove-button:hover {
    transform: scale(1.1);
}

.finished-div {
    flex: 1;
    border-bottom: 1px solid var(--secondary);

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding: 5px;
}


.finished-button {
    color: var(--text);
    background: var(--primary);
    border: 1px solid var(--secondary);
    border-radius: 16px;
    font-size: 16px;
    width: 150px;
    height: 40px;
}

.finished-button:hover {
    transform: scale(1.1);
}

.author {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    border-bottom: 1px solid var(--secondary);
}

.author-name {
    font-style: italic;
}

.pages {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    flex: 1;
    border: 1px solid var(--blue);
    /* border-top: 0; */

    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 30px; */
    min-height: 50px;

}

/* ========== Form Styles ========== */

#form-container {


    border: 3px solid var(--blue);
    border-radius: 24px;

    --width: 600px;
    --height: 630px;
    position: fixed;

    visibility: hidden;


    z-index: 1;


    top: 50%;
    left: 50%;


    width: var(--width);
    height: var(--height);
    margin-top: calc(var(--height) / 2 * -1);
    margin-left: calc(var(--width) / 2 * -1);



    background: var(--secondary);

    max-width: 90vw;
    max-height: 90vh;

}


form {
    color: var(--text);
    padding: 16px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

form h1 {
    font-size: 2rem;
}

form label {
    font-size: 1.5rem;
}

form input[type="text"] {
    border: 0;
    width: 100%;
    height: 50px;
    font-size: 2rem;

    color: rgb(0, 0, 0);

    background: rgba(255, 255, 255, 0.5);

    /* border-radius: 24px; */
}
form input[type="text"]:focus {
    background: rgba(129, 129, 129, 0.5);
}

.form-button {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    width: 100%;
    opacity: 0.8;

    border-radius: 24px;
}

#form-cancel-button {
    background: red;
}

.error-msg {
    color: red;
}


.not-finished {
    background: rgb(139, 21, 21);
}

.finished {
    background: rgb(13, 77, 13);
}